
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New</h2>
<form id="categories" >
    <div class="form-group">
        <label for="name">Category Name</label>
        <input type="text" id="name" value=" " class="form-control" />
    </div>
    <button class="btn btn-outline-success" id="submit">Submit</button>
</form>
@section scripts{
    <script>
        $(document).ready(function () {
            $("#categories").on("click", "#submit", function () {
                var category = {
                    categoriesName : $("#name").val()
                }
                JSON.stringify(category);
                $.ajax({
                    url: "/api/categories",
                    method: "Post",
                    data: category,
                    success: function (result) {
                        toastr.success("Category Added Successfully");
                    }
                });
            });
        });
    </script>
}
